.element__like {
    background: url(../../../images/Like.svg);
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    cursor: pointer;
    width: 22px;
    height: 19px;
    margin-right: 20px;
}

.element__like:hover {
    opacity: 0.5;
}