.popap-item__container {
    position: relative;
    max-width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

@media screen and (max-width: 568px) {
    .popap-item__container {
        max-width: 282px;
    }
}