.popap-image__close-button {
    background: url(../../../images/Close-Icon.svg) center no-repeat;
    object-fit: contain;
    cursor: pointer;
    border: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popap-image__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 568px) {
    .popap-image__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}