.profile__info {
    list-style-type: none;
    padding-left: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 568px) {
    .profile__info {
        margin-top: 22.25px;
        justify-content: center;
    }
}