.form__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin: 34px auto 24px 36px;
}

@media screen and (max-width: 568px) {
    .form__title {
        margin: 25px auto 45px;
        line-height: 21.78px;
    }
}