.form__span {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-left: 36px;
    margin-top: 5px;
    margin-bottom: 13px;
    float: left;
}

@media screen and (max-width: 568px) {
    .form__span {
        margin-left: 22px;
    }
}

.form__span:last-child {
    margin-bottom: -15px;
}