.popap__close {
    background: url(../../../images/Edit-Button.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.popap__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 568px) {
    .popap__close {
        width: 20px;
        height: 20px;
    }
}