.profile__post {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
}

@media screen and (max-width: 568px) {
    .profile__post {
        margin: 14px 0 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}